{% include "snips/locationModals.html" %}
<div class="panel-group" id="buildingAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        {% for building in buildings %}
        {% set location = "Building" %}
        {% set attribute = building.bId %}
        {% set item = building %}
        <div class="panel-heading panel-change panel-closed" id="{{location}}{{attribute}}Tab" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" onclick="highlightTab('{{location}}{{attribute}}Tab')" data-parent="#buildingAccordion" href="#{{building.bId}}" aria-expanded="true" aria-controls="{{building.bId}}">
                    {{building.name}}
                </a>
                <a class="glyphLink pull-right" data-toggle="modal" data-target="#removeModal" data-location="Building" data-attribute="{{building.bId}}" data-name="{{building.name}}" aria-hidden="true" style="padding:0px; padding-left:10px;">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <a class="glyphLink" data-toggle="modal" data-target="#editBuildingModal" data-location="Building" data-attribute="{{building.bId}}" data-name="{{building.name}}" aria-hidden="true" data-action="edit" style="padding-left:10px;">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </h4>
        </div>
        <div id="{{building.bId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{building.bId}}">
            <div class="panel-body">
                {# First Nested Accordion Begins (Floors) #}
                <div class="panel-group" id="floorAccordion{{building.bId}}" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        {% set parent = attribute %}
                        {% for floor in floors[building.bId] %}
                            {% set location = "Floor" %}
                            {% set attribute = floor.fId %}
                            {% set item = floor %}
                                <div class="panel-heading panel-change panel-closed" id="{{location}}{{attribute}}Tab" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" onclick="highlightTab('{{location}}{{attribute}}Tab')" data-parent="#floorAccordion{{building.bId}}" href="#floor{{floor.fId}}" aria-expanded="true" aria-controls="floor{{floor.fId}}">
                                            Floor: {{floor.name}}
                                        </a>
                                        <a class="glyphLink" data-toggle="modal" data-target="#editFloorModal" data-location="Floor" data-attribute="{{floor.fId}}" data-name="{{floor.name}}" data-action="edit" style="padding-left:10px;">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="floor{{floor.fId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="floor{{floor.fId}}">
                                    <div class="panel-body">
                                        {# Second Nested Accordion Begins (Rooms) #}
                                        <div class="panel-group" id="roomAccordian{{floor.fId}}" role="tablist" aria-mulitselectable="true">
                                            <div class="panel panel-default">
                                                {% set parent = attribute %}
                                                {% for room in rooms[floor.fId] %}
                                                    {% set location = 'Room' %}
                                                    {% set attribute = room.rId %}
                                                    {% set item = room %}
                                                        <div class="panel-heading panel-change panel-closed" id="{{location}}{{attribute}}Tab" role="tab">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" onclick="highlightTab('{{location}}{{attribute}}Tab')" data-parent="#roomAccordian{{floor.fId}}" href="#room{{room.rId}}" aria-expanded="true" aria-controls="room{{room.rId}}">
                                                                    Room: {{room.name}}
                                                                </a>
                                                                <a class="glyphLink pull-right" data-toggle="modal" data-target="#removeModal" data-location="Room" data-attribute="{{room.rId}}" data-name="{{room.name}}" style="padding:0px; padding-left:10px;">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </a>
                                                                <a class="glyphLink" data-toggle="modal" data-target="#editRoomModal" data-location="Room" data-attribute="{{room.rId}}" data-name="{{room.name}}" data-action="edit" style="padding-left:10px">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="room{{room.rId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="room{{room.rId}}">
                                                            <div class="panel-body">
                                                                {# Third Nested Accordian Begins (Storages) #}
                                                                <div class="panel-group" id="storageAccordian{{room.rId}}" role="tablist" aria-multiselectable="true">
                                                                    <div class="panel panel-default">
                                                                        {% set parent = attribute %}
                                                                        {% for storage in storages[room.rId] %}
                                                                            {% set location = "Storage" %}
                                                                            {% set item = storage %}
                                                                            {% set attribute = storage.sId %}
                                                                                <div class="panel-heading panel-change panel-closed" id="{{location}}{{attribute}}Tab" role="tab">
                                                                                    <h4 class="panel-title">
                                                                                        {{storage.name}}
                                                                                        <a title="Remove Storage Location" class="glyphLink pull-right" data-toggle="modal" data-target="#removeModal" data-location="Storage" data-attribute="{{storage.sId}}" data-name="{{storage.name}}" style="padding:0px; padding-left:10px;">
                                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                                        </a>
                                                                                        <a title="Edit Storage Location" class="glyphLink" data-toggle="modal" data-target="#editStorageModal" data-location="Storage" data-attribute="{{storage.sId}}" data-name="{{storage.name}}" data-action="edit"  style="padding-left:10px">
                                                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                                                        </a>
                                                                                    </h4>
                                                                                </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                {# Third Nested Accordian Ends (Storages) #}
                                                                <button type="button" class="btn btn-success btn-xs addLink" data-toggle="modal" data-target="#editStorageModal" data-action="add" data-parent="{{parent}}">
                                                                    <span title="Add a storage location to room {{room.name}}" class="glyphicon glyphicon-plus"></span>
                                                                    Add Storage Location
                                                                </button>
                                                            </div>
                                                        </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {# Second Nested Accordian Ends (Rooms) #}
                                        <button title="Add a Room to floor: {{floor.name}}" type="button" class="btn btn-success btn-xs addLink" data-toggle="modal" data-target="#editRoomModal" data-action="add" data-parent="{{parent}}">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Add Room
                                        </button>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<button title="Add a Building" type="button" class="btn btn-success btn-xs addLink" data-toggle="modal" data-target="#editBuildingModal" data-action="add">
    <span class="glyphicon glyphicon-plus"></span>
    Add Building
</button>
<script src="/static/js/local/highlightTab.js"></script>
<script src="/static/js/local/editLocationModals.js"></script>
