<div class= "container">
    <h3>Users Pending Approval for Access</h3>
    <div class="container-fluid">
        <form name="selectedUsers" method="POST">
            <table class="table">
                <thead>
                      <tr>
                        <th><input type="checkbox" id="selectAll" name="selectAll"> Select All</th>
                        <th>Name</th>
                        <th>Request By</th>
                        <th>Reports to</th>
                        <th>Active Until</th>
                      </tr>
                </thead>
                <tbody>
                    {% for user in pendingUsers %}
                        <tr>
                            <td><input type="checkbox" class="selectUser" name="users" id="{{user.userId}}" value="{{user.userId}}"></td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{user.created_by}}</td>
                            <td>{{user.reportto}}</td>
                            <td>{{user.end_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="float:right">
                <input type="submit" class="btn btn-success" name="approveButton" value="Approve">
                <input type="submit" class="btn btn-danger" name="denyButton" value="Deny">
            </div>
        </form>
    </div>
</div>
<script src="/static/js/local/selectAll.js"></script>
