<script src="/static/js/local/editUserModals.js"></script>
{%include "snips/userModals.html"%}
<div class="container">
    <h3>View All Users</h3>
    <div class="container-fluid">
        <table class="table" id="usersTable">
            <thead>
                <th>Authorization</th>
                <th>Name</th>
                <th>Username</th>
                <th>Reports To</th>
                <th>Active Until</th>
                <th></th>
            </thead>
            <tbody>
                {% for user in usersList %}
                    <tr>
                        <td>
                            <a class="glyphLink" data-toggle="modal" data-target="#editUserModal"
                            data-userName="{{user.username}}" data-authlevel="{{user.auth_level}}"
                            data-userid="{{user.userId}}" aria-hidden="true">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {{config.roles[user.auth_level].printable}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.reportto}}</td>
                        <td>{{user.end_date}}</td>
                        <td>
                            <a class="glyphLink" data-toggle="modal" data-target="#deleteUserModal"
                            data-username="{{user.username}}" aria-hidden="true">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <script>
            $(document).ready(function(){
            $('#usersTable').DataTable();
            });
            </script>
        </table>
    </div>
</div>
